# App
DATABASE_URL=""
BASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

RESEND_API_KEY=""
RESEND_EMAIL_FROM=""

CRON_SECRET=""
ALLOW_SIGNUP=""

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_EMAIL=""

# Database
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""